<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Editor</title>
	<link rel="stylesheet" href="../stylesheets/style.css">
	<link rel="stylesheet" href="../stylesheets/markdown7.css">
	<link rel="stylesheet" href="../vendor/layer/skin/layer.css">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_1452676612_346713.css">
</head>

<body>

	<div id="view" class="view">
		
	</div>
	<div class="md_content">
		<div class="toolbar">
			<div class="left">
				<a href="javascript:void(0)" class="bold"> <i class="iconfont icon-bold"></i> </a>
				<a href="javascript:void(0)" class="italic"> <i class="iconfont icon-italic"></i> </a>
				<a href="javascript:void(0)" class="blockquote"> <i class="iconfont icon-blockquote"></i> </a>
				<a href="javascript:void(0)" class="link"> <i class="iconfont icon-link"></i> </a>
				<a href="javascript:void(0)" class="code"> <i class="iconfont icon-code"></i> </a>
				<a href="javascript:void(0)" class="image"> <i class="iconfont icon-image"></i> </a>
				<a href="javascript:void(0)" class="orderedlist"> <i class="iconfont icon-orderedlist"></i> </a>
				<a href="javascript:void(0)" class="unorderedlist"> <i class="iconfont icon-unorderedlist"></i> </a>
			</div>
			<div class="right" style="">
				<a href="javascript:void(0)" class="J_toPdf"> <i class="iconfont icon-pdf"></i> PDF </a>
				<a href="javascript:void(0)" class="J_save"> <i class="iconfont icon-save"></i> 保存 </a>
			</div>
		</div>
		<textarea name="" class="editor" id="md_con" cols="30" rows="10" type=text spellcheck="false"></textarea>
	</div>
	<script src="../javascripts/jquery-1.9.1.min.js"></script>
	<script src="../javascripts/markdown.min.js"></script>
	<script src="../vendor/layer/layer.js"></script>
	<script src="../javascripts/main.js"></script>
	<script src="../javascripts/editControl.js"></script>
</body>

</html>